* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
:root {
  --text-primary: #000;
  --color-primary: #fb5;
  --color-secondary: #e54;
}
ul {
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
}

